<div class="container">

  <%= form_for [@topic, @bookmark] do |f| %>
    <%= f.text_field :url, class: 'form-control', placeholder: "eg. www.google.com" %>
    <%= f.submit "Save" %>
  <% end %>
</div>
