<h1>edit topic</h1>
<div class="container">
  <div class="row">
    <%= form_for @topic do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: "Edit topic name" %>
      </div>
      <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
