<h1>my blocmarks</h1>

<h3>Bookmarks</h3>
<% @user_bookmarks.each do |bookmark| %>
  <div> <%= bookmark.url %> </div>
<% end %>

<h3>Liked</h3>
<% @liked_bookmarks.each do |like| %>
  <div> <%= like.bookmark.url %> </div>
<% end %>
